In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
!ls data/

test_features.csv  train_data.csv

In [3]:
data_path = './data/'
df_train = pd.read_csv(data_path + 'train_data.csv')
df_test = pd.read_csv(data_path + 'test_features.csv')

In [4]:
print(df_train.shape)
print(df_train.info())
df_train.head()

(113, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 22 columns):
name                         113 non-null object
bonus                        61 non-null float64
deferral_payments            28 non-null float64
deferred_income              34 non-null float64
director_fees                13 non-null float64
email_address                83 non-null object
exercised_stock_options      81 non-null float64
expenses                     73 non-null float64
from_messages                65 non-null float64
from_poi_to_this_person      65 non-null float64
from_this_person_to_poi      65 non-null float64
loan_advances                2 non-null float64
long_term_incentive          49 non-null float64
other                        69 non-null float64
poi                          113 non-null bool
restricted_stock             82 non-null float64
restricted_stock_deferred    10 non-null float64
salary                       73 non-null float64
shared_receipt_with_poi      65 non-null float64
to_messages                  65 non-null float64
total_payments               96 non-null float64
total_stock_value            98 non-null float64
dtypes: bool(1), float64(19), object(2)
memory usage: 18.7+ KB
None

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,RICE KENNETH D,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,...,1617011.0,174839.0,True,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,SKILLING JEFFREY K,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,...,1920000.0,22122.0,True,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,SHELBY REX,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,...,NaN,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,KOPPER MICHAEL J,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,...,602671.0,907502.0,True,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,CALGER CHRISTOPHER F,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,...,375304.0,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0

In [5]:
print(df_test.shape)
print(df_test.info())
df_test.head()

(33, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 21 columns):
name                         33 non-null object
bonus                        21 non-null float64
deferral_payments            11 non-null float64
deferred_income              15 non-null float64
director_fees                4 non-null float64
email_address                28 non-null object
exercised_stock_options      21 non-null float64
expenses                     22 non-null float64
from_messages                21 non-null float64
from_poi_to_this_person      21 non-null float64
from_this_person_to_poi      21 non-null float64
loan_advances                2 non-null float64
long_term_incentive          17 non-null float64
other                        24 non-null float64
restricted_stock             28 non-null float64
restricted_stock_deferred    8 non-null float64
salary                       22 non-null float64
shared_receipt_with_poi      21 non-null float64
to_messages                  21 non-null float64
total_payments               29 non-null float64
total_stock_value            28 non-null float64
dtypes: float64(19), object(2)
memory usage: 5.5+ KB
None

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,BELDEN TIMOTHY N,5249999.0,2144013.0,-2334434.0,NaN,tim.belden@enron.com,953136.0,17355.0,484.0,228.0,...,NaN,NaN,210698.0,157569.0,NaN,213999.0,5521.0,7991.0,5501630.0,1110705.0
1,BOWEN JR RAYMOND M,1350000.0,NaN,-833.0,NaN,raymond.bowen@enron.com,NaN,65907.0,27.0,140.0,...,NaN,974293.0,1621.0,252055.0,NaN,278601.0,1593.0,1858.0,2669589.0,252055.0
2,HANNON KEVIN P,1500000.0,NaN,-3117011.0,NaN,kevin.hannon@enron.com,5538001.0,34039.0,32.0,32.0,...,NaN,1617011.0,11350.0,853064.0,NaN,243293.0,1035.0,1045.0,288682.0,6391065.0
3,DELAINEY DAVID W,3000000.0,NaN,NaN,NaN,david.delainey@enron.com,2291113.0,86174.0,3069.0,66.0,...,NaN,1294981.0,1661.0,1323148.0,NaN,365163.0,2097.0,3093.0,4747979.0,3614261.0
4,CAUSEY RICHARD A,1000000.0,NaN,-235000.0,NaN,richard.causey@enron.com,NaN,30674.0,49.0,58.0,...,NaN,350000.0,307895.0,2502063.0,NaN,415189.0,1585.0,1892.0,1868758.0,2502063.0

In [6]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
ids = df_test.name
train_Y = df_train['poi'] #Person of Interest
df_train = df_train.drop(['poi', 'name', 'email_address'],axis=1)
df_test = df_test.drop(['name', 'email_address'] , axis=1)
train_Y = LabelEncoder().fit_transform(train_Y)
train_no = df_train.shape[0]

In [7]:
df = pd.concat([df_train, df_test])
print(df.shape)
df.head(10)

(146, 19)

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,-3504386.0,NaN,19794175.0,46950.0,18.0,42.0,4.0,NaN,1617011.0,174839.0,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,NaN,NaN,19250000.0,29336.0,108.0,88.0,30.0,NaN,1920000.0,22122.0,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,-4167.0,NaN,1624396.0,22884.0,39.0,13.0,14.0,NaN,NaN,1573324.0,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,NaN,NaN,NaN,118134.0,NaN,NaN,NaN,NaN,602671.0,907502.0,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,-262500.0,NaN,NaN,35818.0,144.0,199.0,25.0,NaN,375304.0,486.0,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
5,NaN,10259.0,NaN,NaN,30766064.0,77978.0,NaN,NaN,NaN,NaN,NaN,2856.0,NaN,NaN,NaN,NaN,NaN,91093.0,30766064.0
6,NaN,NaN,NaN,NaN,8308552.0,53947.0,NaN,NaN,NaN,NaN,NaN,147950.0,3576206.0,NaN,158403.0,NaN,NaN,360300.0,11884758.0
7,1200000.0,27610.0,-144062.0,NaN,NaN,16514.0,40.0,240.0,11.0,NaN,NaN,101740.0,698242.0,NaN,288542.0,1132.0,1758.0,1490344.0,698242.0
8,7000000.0,202911.0,-300000.0,NaN,34348384.0,99832.0,36.0,123.0,16.0,81525000.0,3600000.0,10359729.0,14761694.0,NaN,1072321.0,2411.0,4273.0,103559793.0,49110078.0
9,600000.0,NaN,NaN,NaN,384728.0,125978.0,16.0,52.0,6.0,NaN,71023.0,200308.0,393818.0,NaN,274975.0,874.0,873.0,1272284.0,778546.0

In [8]:
df['deferred_income'] = df['deferred_income'].map(lambda i: np.log(-i) if -i > 0 else 0)
df.head()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,15.069526,NaN,19794175.0,46950.0,18.0,42.0,4.0,NaN,1617011.0,174839.0,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,0.000000,NaN,19250000.0,29336.0,108.0,88.0,30.0,NaN,1920000.0,22122.0,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,8.334952,NaN,1624396.0,22884.0,39.0,13.0,14.0,NaN,NaN,1573324.0,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,0.000000,NaN,NaN,118134.0,NaN,NaN,NaN,NaN,602671.0,907502.0,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,12.478006,NaN,NaN,35818.0,144.0,199.0,25.0,NaN,375304.0,486.0,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0

In [9]:
def df_log(cols):
    df[cols] = df[cols].map(lambda i: np.log(i) if i > 0 else 0)

df_log('bonus')
df_log('deferral_payments')
df_log('director_fees')
df_log('exercised_stock_options')
df_log('expenses')
df_log('long_term_incentive')
df_log('other')
df_log('restricted_stock')
df_log('salary')
df_log('total_payments')
df_log('total_stock_value')

df_log('loan_advances')
df_log('restricted_stock_deferred')
df.head()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,14.375126,0.0,15.069526,0.0,16.800898,10.756838,18.0,42.0,4.0,0.0,14.296090,12.071621,14.826516,0.0,12.949523,864.0,905.0,13.132413,16.930915
1,15.538277,0.0,0.000000,0.0,16.773022,10.286571,108.0,88.0,30.0,0.0,14.467836,10.004328,15.738835,0.0,13.921003,2042.0,3627.0,15.976845,17.077203
2,12.206073,0.0,8.334952,0.0,14.300647,10.038193,39.0,13.0,14.0,0.0,0.000000,14.268701,13.675352,0.0,12.263605,91.0,225.0,14.510598,14.729244
3,13.592367,0.0,0.000000,0.0,0.000000,11.679575,NaN,NaN,NaN,0.0,13.309127,13.718451,13.800429,0.0,12.320762,NaN,NaN,14.791055,13.800429
4,14.038654,0.0,12.478006,0.0,0.000000,10.486206,144.0,199.0,25.0,0.0,12.835492,6.186209,11.744251,0.0,12.389181,2188.0,2598.0,14.309778,11.744251

In [10]:
def df_fill_med(cols):
    df[cols] = df[cols].fillna(df[cols].median())
    
df_fill_med('from_poi_to_this_person')
df_fill_med('from_messages')
df_fill_med('to_messages')
df_fill_med('shared_receipt_with_poi')
df_fill_med('from_this_person_to_poi')

In [11]:
def na_check(df_data):
    data_na = (df_data.isnull().sum() / len(df_data)) * 100
    data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)
    missing_data = pd.DataFrame({'Missing Ratio' :data_na})
    display(missing_data.head(10))
na_check(df)

Empty DataFrame
Columns: [Missing Ratio]
Index: []

In [12]:
# normalization
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()

for c in df.columns:
    if df[c].dtype == 'object':
        df[c] = df[c].fillna('None')
        df[c] = LEncoder.fit_transform(df[c])
    #
    else:
        df[c] = df[c].fillna(df[c].mean())
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))

df.head()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,0.781522,0.0,0.878820,0.0,0.859040,0.695294,0.000418,0.079545,0.006568,0.0,0.807802,0.687100,0.793476,0.0,0.757267,0.156188,0.056189,0.671676,0.851239
1,0.844758,0.0,0.000000,0.0,0.857615,0.664897,0.006687,0.166667,0.049261,0.0,0.817506,0.569432,0.842301,0.0,0.814078,0.369632,0.236549,0.817158,0.858594
2,0.663599,0.0,0.486075,0.0,0.731201,0.648843,0.001881,0.024621,0.022989,0.0,0.000000,0.812154,0.731869,0.0,0.717156,0.016126,0.011132,0.742165,0.740545
3,0.738966,0.0,0.000000,0.0,0.000000,0.754938,0.002020,0.066288,0.013136,0.0,0.752033,0.780835,0.738563,0.0,0.720498,0.133810,0.076464,0.756509,0.693847
4,0.763229,0.0,0.727688,0.0,0.000000,0.677801,0.009195,0.376894,0.041051,0.0,0.725270,0.352110,0.628521,0.0,0.724499,0.396086,0.168367,0.731894,0.590468

In [13]:
train_X = df[:train_no]
test_X = df[train_no:]

In [14]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from mlxtend.classifier import StackingClassifier

In [15]:
lr = LogisticRegression(tol=0.001, penalty='l2', fit_intercept=True, C=1.0)
lr.fit(train_X, train_Y)
lr_pred = lr.predict_proba(test_X)[:,1]

In [16]:
clf = RandomForestClassifier(n_estimators=100, min_samples_split=2, min_samples_leaf=1, max_features='sqrt', max_depth=6, bootstrap=True)
clf.fit(train_X, train_Y)
clf_pred = clf.predict_proba(test_X)[:,1]

In [17]:
gdbt = GradientBoostingClassifier(tol=100, subsample=0.75, n_estimators=250, max_features=19, max_depth=6, learning_rate=0.03)
gdbt.fit(train_X, train_Y)
gdbt_pred = gdbt.predict_proba(test_X)[:,1]

In [18]:
meta_estimator = GradientBoostingClassifier(tol=100, subsample=0.70, n_estimators=50, max_features='sqrt', max_depth=4, learning_rate=0.3)

In [19]:
stacking = StackingClassifier(classifiers = [lr, clf, gdbt], meta_classifier = meta_estimator)
stacking.fit(train_X, train_Y)
stacking_pred = stacking.predict_proba(test_X)

In [20]:
sub = pd.DataFrame({'name':ids, 'poi':stacking_pred[:, 0]})
sub.to_csv('Submit.csv', index = False)

In [21]:
blending_pred = lr_pred*0.30  + gdbt_pred*0.67 + clf_pred*0.03
sub = pd.DataFrame({'name': ids, 'poi': blending_pred})
sub.to_csv('sub_blending.csv', index=False)